@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Meow+Script&display=swap');

@font-face {
    font-family: "Meow Script_R", cursive;
    src: url('/Berry//fonts/Meow_Script/MeowScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Barlow Condensed-B", sans-serif;
    src: url('/Berry//fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Barlow Condensed-R", sans-serif;
    src: url('/Berry//fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html, body {
    background: #faf3dd;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow Condensed-R', 'Barlow Condensed-B', sans-serif;
    background: #faf3dd;
    min-height: 100vh;
}

#root {
    background: #faf3dd;
    min-height: 100vh;
}

.main-section {
    font-family: 'Barlow Condensed-B', sans-serif !important;
    background: #faf3dd;
}

.accent-section {
    font-family: 'Meow Script_R', sans-serif !important;
}